@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 195 89% 51%; /*-cyan-*/
    --primary-foreground: 0 0% 100%;
    --secondary: 315 89% 51%; /*-magenta-*/
    --secondary-foreground: 0 0% 100%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 315 89% 61%; /*-light-magenta-*/
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 195 89% 51%;
    --radius: 0.5rem;
    --chart-1: 195 89% 51%;
    --chart-2: 315 89% 51%;
    --chart-3: 255 89% 61%;
    --chart-4: 225 89% 51%;
    --chart-5: 285 89% 61%;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 0 0% 98%;
    --card: 224 71% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 195 89% 51%; /*-cyan-*/
    --primary-foreground: 224 71% 4%;
    --secondary: 315 89% 51%; /*-magenta-*/
    --secondary-foreground: 0 0% 98%;
    --muted: 224 71% 10%;
    --muted-foreground: 240 4% 65%;
    --accent: 315 89% 61%; /*-light-magenta-*/
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 71% 15%;
    --input: 224 71% 15%;
    --ring: 195 89% 51%;
    --radius: 0.5rem;
    --chart-1: 195 89% 51%;
    --chart-2: 315 89% 51%;
    --chart-3: 255 89% 61%;
    --chart-4: 225 89% 51%;
    --chart-5: 285 89% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
